.home__about {
  width: 87.5rem;
  height: 29rem;
  margin: 0 auto;
  margin-top: 21rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 7rem;
}

.home__about__info__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 6rem;
  margin-bottom: 4rem;
}

.home__about__info__details {
  font-weight: 300;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 23.5px;
  margin-bottom: 4rem;
}
.home__about__info__button {
  cursor: pointer;
  background-color: #ff6464;
  width: 20.8rem;
  height: 4.7rem;
  text-align: center;
}

.btn__about {
  font-weight: 500;
  font-size: 2rem;
  line-height: 4.7rem;
  color: #ffffff;
}

.home__about__info {
  width: 50.6rem;
  margin-right: 12.3rem;
}

.home__about__img--circle {
  width: 24.3rem;
  height: 24.3rem;
  border-radius: 50%;
  object-fit: cover;
}
